<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{entity.name}}</title>
    </head>
    <body>
        <a href="/">Main</a>
        <a href="/{{entity.__tablename__}}">Return</a>
        {% for key, value in entity.to_dict().items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
        {% if genres%}
            <p>Genres</p>
            {% for genre in genres %}
                <li>{{genre.name}}</li>
            {% endfor %}
        {% endif %}
        {% if current_user.is_authenticated %}
                <a href="/{{entity.__tablename__}}/edit/{{entity.id}}">Edit</a>
                <a href="/{{entity.__tablename__}}/delete/{{entity.id}}">Delete</a>
        {% endif %}
    </body>
</html>